<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.chernikovich.wow_auctionator">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:name=".app.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".presenter.screen.auction.AuctionActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".presenter.screen.item.ItemActivity" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0de0c5375a5ce9094c99ee086dbab9887f9145bc" />
    </application>


</manifest>
